@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'scrollbar';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  z-index: 9;
  position: fixed;
  left: 0;
  height: 80px;
  width: 100vw;
  padding: 0 2rem;
  background: rgba(255, 255, 255, 0.5);

    .container {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      nav.navlinks {

        .navlink {
          transition: color 0.25s ease;
          cursor: pointer;
        }
        .navlink:not(:nth-child(1)) {
          margin-left: 30px;
        }
        .navlink:hover {
          color: white;
        }
      }
    }

}

section#hero {
  position: relative;
  .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 0;
  }
 

  min-height: 100vh;
  background: lightgray;
  color: white;
  display: grid;
  place-items: center;
  background-image: url('./AdobeStock_11872982_MozJPEG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  $mobile: 700px;
  @media (max-width: #{$mobile}) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (min-width: #{$mobile}) {
    grid-template-columns: repeat(2, 1fr);
  }
  .left {
    z-index: 1;

    .container {
      line-height: normal;
      h1.title {
        font-size: 2.5em;
        margin: 0 0 0rem 0;
      }
      h2.sub-title {
        font-size: 2rem;
        margin: 0 0 0rem 0;
      }
      p.description {
      }
    }
  }
  .right {
    z-index: 1;
    font-size: 2rem;
    @media (max-width: #{$mobile}) {
      display: none;
    }
  }

}
section#features {}
section#categories {}
section#faq {}
section#testimonials {}
section#contact {}

footer {
  height: 80px;
  background: white;
}